.rocketItem {
  display: flex;
  background-color: #5c6068;
  border-radius: 3px;
  overflow: hidden;
  margin: 5px;
  text-decoration: none;
}

.rocketItem:hover {
  cursor: pointer;
  filter: contrast(1.2);
  transition: 300ms;
}

.rocketImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  min-width: 100px;
}

.rocketDetailsBox {
  display: grid;
  place-content: center;
  grid-template-areas:
    "a a a"
    "b b d";
  width: auto;
  box-sizing: border-box;
  overflow: hidden;
  padding: 7px 15px;
}
.rocketName {
  color: #eeeeee;
  grid-area: a;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0;
  padding: 0 0 10px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rocketLocation {
  grid-area: b;
  color: #ffd369;
  width: 100%;
  overflow: hidden;
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rocketTime {
  grid-area: d;
  color: #eeeeee;
  width: 100%;
  overflow: hidden;
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0;
  padding: 0 20px;
  justify-content: end;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
